@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");    


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header nav{ 
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 1000px;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
	background:#353434 ;
	max-width: 920px;
	
}

body {
	font-weight: 500;
     width: 920px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  sans-serif;
	align-items: center;
}


img{margin: 0 auto;
 margin-left: 2%;
 
}

div{ margin-left: 15px;}

h1{
    text-align: left;
    font-family:'Mooli', sans-serif;
    color: #bbb;
    
	

    
}
li {text-align: center;
	color: #cc3b3b;
	
  }
h2{text-align: center;
	color: #cc3b3b;
	text-decoration: underline;}  
	
h3 {text-align: center;
  color: #cc3b3b;
  text-decoration: underline;
}
h5 {text-align: left;
font-size: 10px;
color: #eee;

}
nav {  
    margin: 0 auto;
    max-width: 950px;
    width:950px;

	
} 

nav li {text-align: center;
	display: block;
	padding: 1rem;
    margin:0 auto;
	text-decoration: none;
	
}
nav a {display: block;
       font-size: 12px;
	  
}
nav ul{ list-style-type:none;}

.logoface{width:50px;
          height: 50px;
		  padding:10px;
		  
}
.logoin {width: 50px;
        height: 50px;
		padding: 10px;
}

.picture{width: 80px;
         height: 80px;
		 margin-right: 40%;
}



@media (min-width:648px){
    nav ul{
        display: flex;
       
    }
    nav ul li {
        flex: 1 1 100%;
    }
    
}


.pictrure {
	
    padding-top: 5px;
    
    margin-right: 20%;
    border: #060a0c;
	
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;

}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
     width: 900px;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 500;
	padding: 10px;
    width: 100px;
    display: block;
    height: 100px;
    text-align:center;
    
 
    text-decoration: none;
   

}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
	
}
.open li a {
	display: block;
}

.active::before {
	content: " ";
}

.stuff {
	margin: 5rem;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}



section {
    text-align: center;
    margin:  0 auto;
    max-width: 900px;
    background-color: #e8eff1;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height:200px;
    margin-bottom: 5%;
	
	
    
}


section  li {

    text-align: center;
	padding: 5%;
	margin-left: 5%;
	color: #5174e8;

}
section p li {
text-align: center;

}

p {
	color: rgb(24, 24, 185);
	width: 250px;
	margin: 5px;
}

main ul {
		width: 650px;
	}
main p h3 {
		width: 280px;
		text-align: center;
	font-family: 	'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}
	
		
	  
		
	
main {
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 920px;
	background-color: #fff;
	color: #000;

	grid-row-gap: 20px;
	display: flex;
	align-items: center;
}

section .member{

display:flex;
align-items:center
}

/* large view navigation ************************************/
@media only screen and (min-width: 38rem) {
    main { display: grid;
		grid-template-columns: 2fr 2fr 3fr ;
	

}
    main h4 {grid-column: 2 / span 1 ;
	         
			 grid-row: 1/ 3;
			

	}
	/*h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	/* h2 {
		font-size: 2rem;
		text-align: center;
	/* } */

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
		
	}
	
	.stuff {
		margin: 1rem auto;
	}
}






footer {text-align: center;
        margin: 0 auto;
        width: 920px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        background:  #1e7bb9;
        margin-bottom: 5px;
        height: 150px;
		color: rgb(234, 68, 22);
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		text-decoration:double;
		align-items: center;
		
		
}






.label {
	display: block;
	width: 175px;
	font-weight: 700;
	color: navy;
	text-align: right;
	margin-right: 10px;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}


.smaller {
	font-size: smaller;
}

div{margin:0 auto;
width:100%;
height:45%;
margin-left: 20%;
}


main {
height: 100%;
}




.main-content {background-color: #fff; /* Background color */
    color: #333; /* Text color */
    padding: 20px
    /* Styling for the main content area */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Single column layout for mobile */
    }
}










/*.stdlf {
	font-weight: 700;border-bottom: 1px solid #777; margin-bottom: 1rem;
}


section {margin: 1rem auto; max-width: 960px;}
.container {display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 25px;place-items: center;}

figure {background-color:#fff;}
img { width: 250px; height: auto; margin: .25rem;}
figcaption {font-size: smaller;}
/* hover effect */
.hover:hover {box-shadow: 0 0 50px #333;}
/* rounded corners - boxmodel */
.rocorn {border-radius: 15px 150px;}
/* simple opacity */

/*.opac {opacity: .5;}

.blur {filter: blur(4px);}

.gray {filter: blur(1px) grayscale(50%);}

.object {width: 100%; height: 75px ; object-fit: cover;}

.contrast {filter: contrast(50%);}

.saturate {filter: saturate(50%);}

.shape-outside {border-radius: 100px; width:35%; margin: 0 3em .5em 0; float:left; shape-outside: circle();}

.mbm-difference{mix-blend-mode:difference;}

.mbm-hard-light{mix-blend-mode:hard-light;}

.transform {
	transform: scaleX(-1)
}

.turn {
	rotate: .05turn;
	border: 1px solid rgba(0,0,0,.3);
	padding: 1px;
}

.mosaic {
	position: relative;
	width: 90%;

}

.mosaic img {
	width: 100%;
	margin: 0;
}
		
.pic {
	background: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 7px;
	mix-blend-mode: lighten; /* try darken and overlay */
/*    position: absolute;
	top: 0;
	width: 100%;

}
/*.pic div {background: #000;	height: 18.5vw;	max-height: 640px;}

.pic div:nth-of-type(3), .pic div:nth-of-type(8), .pic div:nth-of-type(13)  {	grid-column: 3/5; }

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	place-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	width: 760px;
	background-color: rgba(225, 225, 255, 0.2);
}

p {
	margin: 1rem;
	display: flex;
}

.label {
	display: block;
	width: 175px;
	font-weight: 700;
	color: navy;
	text-align: right;
	margin-right: 10px;
}

.smaller {
	font-size: smaller;
}
