* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header nav { 
	display: flex;
    align-items: center;
    justify-content: center;
    height: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 900px;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
	
	
}

body {
	font-weight: 500;
     width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  sans-serif;
	
}


img{margin: 0 auto;
 margin-left: 2%;
}

div{ margin-left: 15px;}

h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbb;
    margin-left:1%;

    
}
li {text-align: center;
	color: #cc3b3b;
	
  }
h2{text-align: center;
	color: #cc3b3b;
	text-decoration: underline;}  
	
h3 {text-align: center;
  color: #cc3b3b;
  text-decoration: underline;
}
h5 {text-align: center;
font-size: 10px;

}
nav { margin:0 auto;
	max-width:900px;
	
}
nav a {display: block;
       font-size: 12px;
	  
}
nav ul{ list-style-type:none;}

.logoface{width:50px;
          height: 50px;
		  padding:10px;
}
.logoin {width: 50px;
        height: 50px;
		padding: 10px;
}

.picture{width: 80px;
         height: 80px;
}



@media (min-width:648px){
    nav ul{
        display: flex;
       
    }
    nav ul li {
        flex: 1 1 100%;
    }
    
}


.pictrure {
	width: 20px;
    height: 30px;
    padding-top: 5px;
    
    margin-left: 20%;
    border: #060a0c;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;

}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
	height: 0 ;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 500;
	padding: 10px;
    width: 100px;
    display: block;
    height: 0 ;
    text-align:center;
    
 
    text-decoration: none;
   

}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
	
}
.open li a {
	display: block;
}

.active::before {
	content: " ";
}

.stuff {
	margin: 5rem;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}



section {
    text-align: center;
    margin:  0 auto;
    max-width: 900px;
    background-color: #e8eff1;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height:200px;
    margin-bottom: 5%;
	
	
    
}


section  li {

    text-align: center;
	padding: 5%;
	margin-left: 5%;
	color: #5174e8;

}
section p li {
text-align: center;



}

p {
	color: rgb(24, 24, 185);
	width: 250px;
	margin: 5px;
}

section:nth-child(1) {
    grid-column: 1 / span 2}

section:nth-child(2) {
    grid-column: 4 / span 2;}	
main ul {
		width: 650px;
	}
main p h3 {
		width: 280px;
		text-align: center;
	font-family: 	'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}
	
		
	  
		
	
main {
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 900px;
	background-color: #eee;
	color: #000;

	grid-row-gap: 20px;
}


/* large view navigation ************************************/
@media only screen and (min-width: 38rem) {
    main { display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-columns: repeat(3, 1fr);
	

}
    main h4 {grid-column: 1 / span 3;
	         
			 grid-row: 1/ 2;
			

	}
	/*h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	/* h2 {
		font-size: 2rem;
		text-align: center;
	/* } */

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
		
	}
	
	.stuff {
		margin: 1rem auto;
	}
}


.h10 {margin-bottom: 5%;}



footer {text-align: center;
        margin: 0 auto;
        width: 900px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        background:  #1e7bb9;
        margin-bottom: 5px;
        height: 150px;
		color: yellow;
}

