



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");


form {
    background-color: #95bae9;
    padding: var(--spacing);
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    width: 950px;
    display: block;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

textarea,
input[type="text"],
input[type="hidden"] {
    width: 100%;
    padding: 10px;
		margin-bottom: 10px;}


input[type="text"],
input[type="text"],
input[type="hidden"],
input[type="email"]{
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="hidden"]:focus,
input[type="email"]:focus
 {
    outline: none;
    border-color: var(--primary-color);
}

input[type="submit"] {
    background-color:gold;
    color: #bc2f2f;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #567ea9;
    
}

h1 {
    text-align: center;
}
div h2 {text-align: center;
       color: green;
}

div h3 {text-align: center;

       color: green;
    
}

div {margin: 0 auto;
     border: 2px solid rgba(0, 0, 0, 0.1)
    
}
div li {margin-left: 3%;
            text-align: left;
        font-family:'Times New Roman', Times, serif;
}
div p {color: rgb(167, 63, 205);
font-family: Georgia, 'Times New Roman', Times, serif;

}

div h1 {color: rgb(250, 0, 187);
       background-color: #6388b0;
       
}


/* Style membership levels in a two-column layout */
.membership-levels {
    display: flex;
    flex-wrap: wrap;
}

.membership-level {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive design */
@media (max-width: 768px) {
    .membership-level {
        width: 100%;
    }
}





footer p {text-align: center;
          color: yellow;
          font-family: Georgia, 'Times New Roman', Times, serif;
          margin: 0 auto;

}


/* Css for directory*/




main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 900px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
	
}

.menu1 {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu1 button {
	padding: 1rem;
	font-weight: 700;
}



.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * { 
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

section img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}


@media only screen and (min-width: 38rem) {
    main { display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-columns: repeat(3, 1fr);
	

}
    main h4 {grid-column: 1 / span 3;
	         
			 grid-row: 1/ 2;
			

	}
}