
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 850px;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
    background: rgba(32, 125, 187, 0.7);
}



body {font-weight: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:  sans-serif;
    
}

h1{
    font-size: 2rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2e5cb2;
    margin-left:1%;
    
}

h2
{text-align: left;
    color: #355eab;
    text-decoration: underline;
	margin-left: 10%;
    
 
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 
}
h3{
    text-align: center;
    color: #355eab;
    
 background-color: rgba(32, 125, 187, 0.7);
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav{
    
    margin: 0 auto;
    max-width: 850px;
    
}
nav a {
    display:block}


nav ul {
    list-style-type: none;
}



@media (min-width:648px){
    nav ul{
        display: flex;
       
    }
    nav ul li {
        flex: 1 1 100%;
    }
    
}

main ul {
    width: 550px;
}

main p h3 {
	width: 180px;
	text-align: center;
font-family: 	'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
main {
	margin: 0;
	
	padding: 1rem;
	
	
	color: #000;

	grid-row-gap: 20px;
}
iframe {margin-left: 15%;
	width:128%;
	padding: 1px;

}


section {
    text-align: center;
    margin:  0 auto;
    max-width: 850px;
    background-color: #e8eff1;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height:200px;
    margin-bottom: 5%;
	margin-left: 15%;

    
}

section li{

   
    text-align: left;
    margin-left: 5%;
	padding: 0 auto;

}


section:nth-child(1) {
    grid-column: 1 / span 2}

img.flag {
    width: 40px;
    height: auto; 
    margin-right: 10px;    
}
footer .lastModified {text-decoration: #068ce6;}

footer {text-align: center;
        margin: 0 auto;
        max-width: 850px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        background:  #1e7bb9;
        margin-bottom: 5px;
        height: 100px;
}



/* menu */


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #171515;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #355eab;
	color: #f8f1f1;
   
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ecaeae;
}
.navigation li a:hover {
	background-color: #86becd;
	
	font-weight: 700;
	padding: 10px;
    width: 100px;
    display: block;
    color: #df9f9f;
    text-align:center;
    
 
    text-decoration: none;
   
    
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: " ";
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: rgb(159, 188, 246);
	max-width: 580px;
	height: 100vh;
	
}

/* large view navigation ************************************/
@media only screen and (min-width: 38rem) {
    main { display: grid;
    grid-template-columns: 2fr 1fr;}
    main h2 {grid-column: 1 / span 2;}
	/*h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	/* h2 {
		font-size: 2rem;
		text-align: center;
	/* } */

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}






@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



.hero {
	margin: 0 auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
	width: 700px;
	margin-left: 12%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #97864d);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}


